.icon{
    width: 20px;
    height: 20px;
}
.brand-logo{
    margin-left: 60px;
}
#nav-mobile{
    margin-right: 60px;
}
h1,h3{
    text-align: center;
    color: white;
}

.content{
    background-image: url(https://images.wallpaperscraft.ru/image/single/nebo_zakat_oblaka_115877_1280x720.jpg);
    background-size: cover;
  
    height: 400px;
}
hr{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    color: white;
}
.waves-effect{
   margin-left: 900px;
}
