.icon{
    width: 20px;
    height: 20px;
}
.brand-logo{
    margin-left: 60px;
}
#nav-mobile{
    margin-right: 60px;
}
h1,h3{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
    background-image: url(https://images.wallpaperscraft.ru/image/single/nebo_zakat_oblaka_115877_1280x720.jpg);
    background-size: cover;
  
    height: 550px;
}
hr{
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}
.waves-effect{
   margin-left: 850px;
   width: 200px;
}
p{
    font-size: 20px;
    color: white;
    text-align: center;
}
#into{
    color: white;
    font-size: 20px;
}
h2{
    text-align: center;
}
.red{
    color: red;
    padding: 5px;
    width: 150px;
}
#web{
    text-align: center;
    background-color: lightsalmon;
    width: 100%;
    height: 150px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}